<% provide :title, t(".tit") %>
<h1><%= t ".tit" %></h1>
<p>
  <%= t ".the" %> <a href="http://www.railstutorial.org/">
  <em><%= t ".book_name" %></em></a> <%= t ".is" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".screen_cast" %></a>
  <%= t ".teach" %>
  <a href="http://rubyonrails.org/"><%= t ".name" %></a>.
  <%= t ".des" %>
</p>
