<% provide :title, t(".tit") %>
<h1><%= t ".tit" %></h1>
<p>
  <%= t ".help_tut" %>
  <a href="http://www.railstutorial.org/help"><%= t ".page" %></a>.
  <%= t ".help_example" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".book_name" %></em> <%= t ".book" %></a>.
</p>
